/* global.css
 */
@font-face {
  font-family: "Plus Jakarta Sans";
  src:
    url("/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype-variations"),
    url("/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-black: #261e1e;
  --color-white: #fefff7;
  --color-red: #ff4d38;
  --color-grey: #969a9d;
  font-family: "Plus Jakarta Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--color-white);
  color: var(--color-black);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}
